/**
 *  Master layout
 **/
* {
  -webkit-touch-callout:    none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
html {
  height: 100%;
}
body {
  height: 100%;

  background-color: #111133;
  color: #ffffff;
  margin: 0px;
  font-family: sans-serif;
  font-weight: 100;
}

/**
 *  Show rotate message in portrait mode.
 **/
#container {
  height: 100%;
}
#heading {
  border-bottom: 0.5vh solid #cccccc;
  padding-left: 2.5vh;
  height: 10vh;
  font-size: 7.5vh;
}
#status-box {
  display: inline-block;
  background-color: red;
  width: 7vh;
  height: 7vh;
  border-radius: 3.5vh;
  vertical-align: middle;
}
#status-text {
  vertical-align: middle;
}
#info-box {
  position: absolute;
  left: 60vw;
  margin-left: 20vw;
  font-size: 3vh;
  padding-top: 1vh;
}

#settings-toggle {
  display: none;
  visibility: hidden;
}
#settings-label {
  float: right;
  margin-top: 0.75vh;
  margin-right: 1.5vh;
  padding: 0.5vh;
}
#settings-toggle:checked + #settings-label {
  background-color: #771111;
  padding: 0;
  border: 0.5vh solid #cccccc;
  border-left: 0px;
  border-top-right-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
  height: 7.4vh;
}
#settings-toggle:checked ~ #settings {
  display: block;
}
#settings-img {
  width: 7.5vh;
  height: 7.5vh;
  margin-right: 0.1vw;
  cursor: pointer;
  filter: invert(100%)
}
#settings {
  box-sizing: border-box;
  padding: 1vh;
  display: none;
  position: absolute;
  z-index: 11;
  border: 0.5vh solid #cccccc;
  border-top-left-radius: 1.5vh;
  border-bottom-left-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
  background-color: #111133;
  width: 70vw;
  height: 95vh;
  top: 0.75vh;
  right: 9.4vh;
}

#error-box {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  left: 2.5vw;
  top: 10vh;
  width: 95vw;
  padding: 3vh 6vw;
  border: 3pt solid #990000;
  border-radius: 3pt;
  background-color: #111133;
  font-size: 4vh;
}
#error-box:empty {
  display: none;
}
#error-box span.type {
  display: inline-block;
  width: 20vw;
}

#touch-canvas {
  z-index: 9;
  background-color: #000000;
  display: block; 
  position: absolute; 
}

/**
 *  Show rotate message in portrait mode.
 **/
#landscape-message {
  display: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  font-size: 5vh;
}
#landscape-message img {
  margin-top: 20px;
  height: 30vh;
  width: 30vh;
  filter: invert(100%)
}
@media only screen and (orientation:portrait) {
  #container {
    display: none;
  }
  #landscape-message {
    display: block;
  }
}
@media only screen and (orientation:landscape) {
  #landscape-message {
    display: none;
  }
}
